<footer class="container py-5">
	<div class="row">
		<div class="col-6 col-sm">
			<!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="d-block mb-2">
          <path id="path6851-0" d="m 0,290.65 6.6145834,4.34474 H 0.020791 Z" style="fill:#6d98ba;fill-opacity:1;stroke:none;stroke-width:0.03429235px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
          <path id="path6853-4" d="M 3.3072921,294.08987 1.1924241,293.15772 0,297 Z" style="fill:#993258;fill-opacity:1;stroke:none;stroke-width:0.03585796px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
          <circle cx="12" cy="12" r="10"></circle>
          <line x1="14.31" y1="8" x2="20.05" y2="17.94"></line>
          <line x1="9.69" y1="8" x2="21.17" y2="8"></line>
          <line x1="7.38" y1="12" x2="13.12" y2="2.06"></line>
          <line x1="9.69" y1="16" x2="3.95" y2="6.06"></line>
          <line x1="14.31" y1="16" x2="2.83" y2="16"></line>
          <line x1="16.62" y1="12" x2="10.88" y2="21.94"></line>
        </svg> -->
			<svg width="100" height="96" version="1.1" viewBox="0 0 25 24" xmlns="http://www.w3.org/2000/svg">
				<g transform="translate(0 -290.6)">
					<path d="m0.08929 290.5 25 16.42h-24.92z" fill="#6d98ba" />
					<path d="m12.5 303.7-7.993-3.523-4.507 14.52z" fill="#993258" />
				</g>
			</svg>

			<small class="d-block mb-3 text-muted ml-auto">&copy; 2017-2018</small>
		</div>
		<div class="col-6 col-md">
			<h5>Stores</h5>
			<ul class="list-unstyled text-small">
				<li><a class="text-muted" href="https://store.x-plane.org/B787-9-Aviator-Edition_p_921.html">X-Plane.org</a></li>
			</ul>
		</div>
		<div class="col-6 col-md">
			<h5>About us</h5>
			<ul class="list-unstyled text-small">
				<li><a class="text-muted" href="https://magknight.org/team">The Team</a></li>
				{{!-- <li><a class="text-muted" href="https://magknight.org/about">What we stand for</a></li> --}}
			</ul>
		</div>
		<div class="col-6 col-md">
			<h5>787</h5>
			<ul class="list-unstyled text-small">
				<li><a class="text-muted" href="https://magknight.org/changelog">Changelog</a></li>

			</ul>
		</div>
		<div class="col-6 col-md">
			<h5>Social Media</h5>
			<ul class="list-unstyled text-small">
				<li><a class="text-muted" href="https://twitter.com/magknightav">
						<ion-icon class="text-primary" name="logo-twitter"></ion-icon> @magknightAv
					</a></li>
				<li><a class="text-muted" href="https://twitter.com/magknightav">
				<li><a class="text-muted" href="https://www.facebook.com/magknightAv">

						<ion-icon class="text-aeroBlue" name="logo-facebook"></ion-icon> magknightAv
					</a></li>
				</a></li>
			</ul>
		</div>
		<div class="col-6 col-md">
		</div>
	</div>
</footer>