<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
 crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<script>
	window.addEventListener("load", function () {
		window.cookieconsent.initialise({
			"palette": {
				"popup": {
					"background": "#2b303a",
					"text": "#ffffff"
				},
				"button": {
					"background": "#6d98ba",
					"text": "#ffffff"
				}
			},
			"position": "bottom-right",
			"type": "opt-in",
			"content": {
				"message": "We use cookies to improve the experience of using our website and technoogy."
			}
		})
	});
</script>
<script src="https://unpkg.com/ionicons@4.4.6/dist/ionicons.js"></script>