<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Fly our 787 to places with runways. Or fields. Now for X-Plane 11">
<meta name="author" content="Magknight">
<meta name="keywords" content="xplane,X-Plane,787,systems,magknight,aeroniemi,mob9221,mattdesigns,plane">
<link type="application/json+oembed" href="/media/oembed.json">
<meta name="theme-color" content="#6d98ba">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="images/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
<meta content="Fly the 787 to places with runways. Or fields." property="og:title">
<meta content="A 787 for X-Plane" property="og:description">
<meta content="/media/images/embed.png" property="og:image">
<meta name="theme-color" content="#6d98ba">
<title>Magknight | {{ title }}</title>

<link rel="stylesheet" href="media/css/bootstrap.css">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-128921664-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-128921664-1');
</script>
