<nav class=" navbar navbar-expand-lg navbar-dark bg-secondary">
	<a class="navbar-brand" href="https://magknight.org">
		<svg width="35" height="34" version="1.1" viewBox="0 0 25 24" xmlns="http://www.w3.org/2000/svg">
			<g transform="translate(0 -290.6)">
				<path d="m0.08929 290.5 25 16.42h-24.92z" fill="#ffffff"></path>
				<path d="m12.5 303.7-7.993-3.523-4.507 14.52z" fill="#6d98ba" />
			</g>
		</svg>
		Magknight
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
	 aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavDropdown">
		<ul class="navbar-nav ml-auto">
			<!-- <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li> -->
			<li class="nav-item">
				<a class="nav-link text-light" href="https://forums.x-plane.org/index.php?/forums/forum/420-magknight/">Forums</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-light" href="https://magknight.org/changelog">Changelog</a>
			</li>
		</ul>
	</div>
</nav>