.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.bg-dark-plane {
  background-image: url('http://i.aeroniemi.ovh/47caeb.png');
   background-size: 100%;
}
@media (min-width: 600px) {
.bg-dark-plane {
  background-position-y: 30%
}
}
/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

/* .product-device {
  position: absolute;
  float:center;
  left:8vw;
  top:45%;
  width: 82.5vw;
  height: 16.3vw;
  /* background-color: rgb(187, 55, 55); 
  background-image: url("787aal.png");
  background-size: 100%;
  -webkit-transform: rotate(-2deg);
  transform: rotate(-2deg);
  /*border-radius: 21px; 
  
  /* -webkit-transform: rotate(30deg);
  transform: rotate(30deg); 
} */
/* 
.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  
  /* background-color: rgba(255, 255, 255, .9); 
  border-radius: 5px;
} */

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }
