.container {
	max-width: 960px;
  }
  .site-header {
	background-color: rgba(0, 0, 0, .85);
	-webkit-backdrop-filter: saturate(180%) blur(20px);
	backdrop-filter: saturate(180%) blur(20px);
  }
  .site-header a {
	color: #999;
	transition: ease-in-out color .15s;
  }
  .site-header a:hover {
	color: #fff;
	text-decoration: none;
  }
  
  .bg-dark-plane {
	background-image: url('../images/787night.png');
	 background-size: 100%;
  }
  @media (min-width: 600px) {
  .bg-dark-plane {
	background-position-y: 30%
  }
  }
  
  .flex-equal > * {
	-ms-flex: 1;
	flex: 1;
  }
  @media (min-width: 768px) {
	.flex-md-equal > * {
	  -ms-flex: 1;
	  flex: 1;
	}
  }
  
  .overflow-hidden { overflow: hidden; }
  