		/* Timeline */
		.timeline {
			position: relative;
		}

		.timeline-line {
			position: absolute;
			width: 4px;
			display: block;
			background: currentColor;
			top: 60px;
			bottom: 10px;
			margin-left: -18px
		}

		.timeline-line::before {
			top: -4px
		}

		.timeline-line::after {
			bottom: -4px
		}

		.timeline-line::after,
		.timeline-line::before {
			content: '';
			position: absolute;
			left: -4px;
			width: 12px;
			height: 12px;
			display: block;
			border-radius: 50%;
			background: currentColor
		}

		.timeline-separator {
			border-top: 2px solid currentColor;
			padding: 15px 5px 10px 40px;
			margin-left: -15px;
			margin-top: 40px
		}

		.timeline-separator h3 {
			margin-left: -18px
		}

		.timeline-icon {
			margin: 10px 0 0 -7px;
			height: 1.8em;
			width: 1.8em
		}

		.card-header {
			border-bottom: 5px solid
		}
		.border-unreleased {
			border-color:#993258 !important
		}
		.border-added {
			border-color:#3551a3 !important
		}
		.border-changed {
			border-color:#ffc107 !important
		}
		.border-fixed {
			border-color:#28a745 !important
		}
		.border-deprecated {
			border-color:#6d98ba !important
		}
		.border-removed {
			border-color:#dc3545 !important
		}