---
layout: layouts/default.hbs
title: "Home"
---

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark text-white">
	<div class="product-device  d-none d-md-block"></div>
	<div class="col-md-5 p-lg-5 mx-auto my-5">

		<h1 class="display-1 font-weight-normal">TOTAL EXISTANCE FAILURE</h1>
		<p class="lead font-weight-normal">Well, not quite. This page is here to inform you that your IRS is misaligned</p>
		<a class="btn btn-secondary" href="https://magknight.org">Head back to the hanger</a>
	</div>
</div>