---
layout: layouts/default.hbs
title: "Changelog"
---
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark text-light">
    <div class="col-md-5 mx-auto">
        <h1 class="display-4 font-weight-normal">Changelog</h1>
        <p class="lead font-weight-normal">The things we've done.</p>
    </div>
</div>
<div class="position-relative overflow-hidden p-2 p-md-2 m-md-3 text-left bg-white text-dark"
    style="margin-bottom:-40px;"></div>>
<p class="lead text-center my-0">All notable changes to this project will be documented in this file.</p>

<p class="lead text-center my-0">The format is based on <a href="http://keepachangelog.com/en/1.0.0/">Keep
        a Changelog</a></p>
</div>



<main role="main" class="container py-5 timeline">
    <h2 class="display-4 font-weight-normal" style="margin-left:0.5em">Aviator's Edition</h2>
    <div class="timeline-line" style="color:#333333"></div>
    {{#timelineVersion "ae1111" "1.1.11" "2019-03-23" }}
        {{#timelineEntry "added" }}
            <li class='list-group-item'>Backup Navdata (thanks to <a href="https://navigraph.com/">navigraph</a>)</li>
        {{/timelineEntry}}
        {{#timelineEntry "fixed" }}
            <li class='list-group-item'>APU startup time</li>
        {{/timelineEntry}}
    {{/timelineVersion }}
    {{#timelineVersion "ae1110" "1.1.10" "2019-03-20" }}
        {{#timelineEntry "changed" }}
            <li class='list-group-item'>Improved flight model with some FBW protections</li>
            <li class='list-group-item'>New Java app with some fixes</li>
            <li class='list-group-item'>Downgraded required Java version</li>
        {{/timelineEntry}}
    {{/timelineVersion }}
    
    {{#timelineVersion "ae119" "1.1.9" "2019-03-09" }}
        {{#timelineEntry "fixed" }}
            <li class='list-group-item'>Logging associated with VATSIM mode</li>
            <li class='list-group-item'>Missing page handling</li>
        {{/timelineEntry}}
        {{#timelineEntry "changed" }}
            <li class='list-group-item'>New settings storage system, with support for variants and liveries in JSON format</li>
            <li class='list-group-item'>Improvements to N1 setting logic</li>
        {{/timelineEntry}}
    {{/timelineVersion }}
    
    {{#timelineVersion "ae118" "1.1.8" "2019-02-19" }}
        {{#timelineEntry "fixed" }}
            <li class='list-group-item'>Wing anti-ice on EICAS page</li>
            <li class='list-group-item'>Missing page handling</li>
            <li class='list-group-item'>Reported lua naming issues</li>
            <li class='list-group-item'>TERMINAL CHARTS page button actions</li>
        {{/timelineEntry}}
        {{#timelineEntry "changed" }}
            <li class='list-group-item'>Font changed to edited version</li>
            <li class='list-group-item'>Improved engine startup sequence</li>
            <li class='list-group-item'>Improvements to default autopilot logic</li>
        {{/timelineEntry}}
        {{#timelineEntry "added" }}
            <li class='list-group-item'>EICAS modes for when the engines are off</li>
            <li class='list-group-item'>Oxygen bottle to acf for new EFIS page</li>
        {{/timelineEntry}}
    {{/timelineVersion }}
    
    {{#timelineVersion "ae116" "1.1.6" "2019-02-10" }}

        {{#timelineEntry "fixed" }}
            <li class='list-group-item'>XPDR page now enforces 4 digit squawks</li>
            <li class='list-group-item'>Resolved some issues with datarefs portraying the wrong type</li>
            <li class='list-group-item'>Set N1 target bug to stop N1 going above 99% in some autothrottle modes</li>
        {{/timelineEntry}}
        {{#timelineEntry "changed" }}
            <li class='list-group-item'>Updated SASL to 3.5.1</li>
        {{/timelineEntry}}
        {{#timelineEntry "added" }}
            <li class='list-group-item'>Speedbrakes should now be controlable with the default speedbrake axis on
                throttle quadrants</li>
        {{/timelineEntry}}

    {{/timelineVersion }}

    {{#timelineVersion "ae115" "1.1.5" "2019-02-05" }}
        {{#timelineEntry "fixed" }}
            <li class='list-group-item'>EICAS oil pressure showing as low</li>
            <li class='list-group-item'>EFB now correctly starts on MAIN MENU page</li>
            <li class='list-group-item'>Another fix for MAIN BATTERY DISCH (resulting from SASL update)</li>
            <li class='list-group-item'>Reduced IRS align time at low latitudes</li>
        {{/timelineEntry}}
        {{#timelineEntry "added" }}
            <li class='list-group-item'>Dataref changes to allow default keyboard assignments for
                baro/DH</li>
        {{/timelineEntry}}
    {{/timelineVersion }}
    {{#timelineVersion "ae114" "1.1.4" "2019-01-25" }}
        {{#timelineEntry "fixed" }}
            <li class='list-group-item'>MCP automatically switches from IAS to Mach and back at
                23000ft</li>
            <li class='list-group-item'>Fix for dataref naming in some cases causing a SASL
                crash</li>
            <li class='list-group-item'>MFR filenames for linux</li>
            <li class='list-group-item'>SPD mode now takes current speed directly when being
                engaged</li>
        {{/timelineEntry}}
    {{/timelineVersion }}
    {{#timelineVersion "ae113" "1.1.3" "2019-01-14" }}
        {{#timelineEntry "fixed" }}
            <li class='list-group-item'>Fix for issues with autobrakes</li>
            <li class='list-group-item'>Fix for issues with spoilers on
                landing/reversers</li>
        {{/timelineEntry}}
    {{/timelineVersion }}
    {{#timelineVersion "ae111" "1.1.1 (1.1.2)" "2019-01-14" }}
        {{#timelineEntry "fixed" }}
            <li class='list-group-item'>EICAS gear indication appearing dark at
                night</li>
            <li class='list-group-item'>TCP keyboard entry dot</li>
            <li class='list-group-item'>Issue with radio uplink for VATSIM</li>
            <li class='list-group-item'>Initial "beta" error overlay</li>
        {{/timelineEntry}}
    {{/timelineVersion }}
    {{#timelineVersion "ae110" "1.1.0" "2019-01-13" }}
        {{#timelineEntry "added" }}
            <li class='list-group-item'>New Tuning Control Panels</li>
            <li class='list-group-item'>Support for VATSIM radio uplink
            </li>
            <li class='list-group-item'>Linux version</li>
        {{/timelineEntry}}
        {{#timelineEntry "changed" }}
            <li class='list-group-item'>Redesigned EFB settings page
            </li>
            <li class='list-group-item'>Reversed VS knob mousewheel
            </li>
        {{/timelineEntry}}
        {{#timelineEntry "fixed" }}
            <li class='list-group-item'>MCP/Pedestal panel light
                dimming</li>
        {{/timelineEntry}}
    {{/timelineVersion }}

    {{#timelineVersion "ae107" "1.0.7" "2019-01-04" }}
        {{#timelineEntry "changed" }}
            <li class='list-group-item'>Wing profile
            </li>
            <li class='list-group-item'>Flap angles</li>
            <li class='list-group-item'>Side forces</li>
        {{/timelineEntry}}
    {{/timelineVersion }}

    {{#timelineVersion "ae106" "1.0.6" "2019-01-01" }}
        {{#timelineEntry "fixed" }}
            <li class='list-group-item'>Spoilers
                not deploying in automatic mode
            </li>
        {{/timelineEntry}}

    {{/timelineVersion }}

    {{#timelineVersion "ae105" "1.0.5" "2018-12-26" }}
        {{#timelineEntry "fixed" }}
            <li class='list-group-item'>
                Stuff is now in the
                right state in cold and
                dark mode</li>
            <li class='list-group-item'>
                IRS now auto-aligns when
                starting with engines
                running</li>
            <li class='list-group-item'>
                Issue with mousedatarefs
            </li>
            <li class='list-group-item'>
                SASL attempting to
                create already existent
                datarefs</li>
        {{/timelineEntry}}
        {{#timelineEntry "removed" }}
            <li class='list-group-item'>
                References to old
                font files</li>
        {{/timelineEntry}}
    {{/timelineVersion }}
    {{#timelineVersion "ae104" "1.0.4" "2018-12-23" }}
        {{#timelineEntry "fixed" }}
            <li class='list-group-item'>
                Issue with
                Takeoff
                speed
                calculator
                giving false
                errors</li>
        {{/timelineEntry}}
    {{/timelineVersion }}

    {{#timelineVersion "ae103" "1.0.3" "2018-12-23" }}
        {{#timelineEntry "fixed" }}
            <li class='list-group-item'>
                MENU
                button
                locking
                the
                EFB
                into
                TERMINAL
                CHARTS
            </li>
        {{/timelineEntry}}
        {{#timelineEntry "added" }}
            <li class='list-group-item'>
                Error
                messages
                for
                derate
                temperatures
            </li>
        {{/timelineEntry}}
    {{/timelineVersion }}
    {{#timelineVersion "ae102" "1.0.2" "2018-12-22" }}
        {{#timelineEntry "fixed" }}
            <li class='list-group-item'>
                Windspeeds
                on
                NDs
            </li>
            <li class='list-group-item'>
                Oil
                temp/pressure
                indications
                on
                engine
                data
                page
            </li>
            <li class='list-group-item'>
                EICAS
                battery
                indication
            </li>
        {{/timelineEntry}}
    {{/timelineVersion }}
    {{#timelineVersion "ae101" "1.0.1" "2018-12-22" }}
        {{#timelineEntry "fixed" }}
            <li class='list-group-item'>
                EFB
                not
                loading
                PDFs
            </li>
        {{/timelineEntry}}
    {{/timelineVersion }}
    {{#timelineVersion "ae1RC3" "1.0.0: Initial release" "2018-12-22" }}
    {{/timelineVersion }}


</main>


<main role="main" class="container py-5 timeline">
    <h2 class="display-4 font-weight-normal" style="margin-left:0.5em">Version 1.0x</h2>
    <div class="timeline-line" style="color:#333333"></div>
    {{#timelineVersion "1-052" "1.052" "2018-09-13" }}

        {{#timelineEntry "added" }}
            <li class='list-group-item'>Mouse wheel support for rotary knobs</li>
        {{/timelineEntry}}

        {{#timelineEntry "changed" }}
            <li class='list-group-item'> RUNWAY TURNOFF moved focus to illuminate taxiways on turns.</li>
            <li class='list-group-item'>ALTITUDE KNOB: Big knob now selects 100 or 1000 feet selection. Small knob
                changes
                altitude accordingly.</li>
            <li class='list-group-item'>New model for brake calipers.</li>
            <li class='list-group-item'>Eagle claw issue corrected.</li>
            <li class='list-group-item'>A/P DISENGAGE BAR function has been removed for incorrect setting. (It will
                be added in
                the future)</li>
        {{/timelineEntry}}

        {{#timelineEntry "removed" }}
            <li class='list-group-item'>A/P DISENGAGE BAR function has been removed for incorrect setting. (It
                will be added in
                the future)</li>
        {{/timelineEntry}}

    {{/timelineVersion }}

    {{#timelineVersion "1-051" "1.051 [YANKED]" "2018-09-02" }}
        {{#timelineEntry "fixed" }}
            <li class='list-group-item'>EXT PWR buttons are now set to off.</li>
            <li class='list-group-item'>STORM button is now set to off.</li>
            <li class='list-group-item'>Flaps indicator corrected.</li>
            <li class='list-group-item'>Corrections to center of gravity.</li>
            <li class='list-group-item'>Corrections to ground handling.</li>
            <li class='list-group-item'>Corrections to flight maneuverablity.</li>
            <li class='list-group-item'>Corrections to control surfaces.</li>
        {{/timelineEntry}}
    {{/timelineVersion }}

    {{#timelineVersion "1-05" "1.05" "2018-08-25" }}

        {{#timelineEntry "added" }}
            <li class='list-group-item'>Overhead 3D Buttons: Many still call one function (It
                will change in future updates)
            </li>
            <li class='list-group-item'>Overhead failure annunciators: Many still call one
                function (It will change in future
                updates)</li>
        {{/timelineEntry}}

        {{#timelineEntry "changed" }}
            <li class='list-group-item'>New normal map texture (Old reflective properties
                removed from model)</li>
            <li class='list-group-item'>Fuselage nose roundness improved.</li>
            <li class='list-group-item'>Flaps detents added as -9 variant.</li>
            <li class='list-group-item'>Corrections to ground handling.</li>
            <li class='list-group-item'>Corrections to flight maneuverablity.</li>
        {{/timelineEntry}}
        {{#timelineEntry "fixed" }}
            <li class='list-group-item'>CLOCK BUTTON (Now cycles between START, STOP,
                RESET)</li>
            <li class='list-group-item'>FLAP LEVER (Positions corrected for -9 variant)
            </li>
            <li class='list-group-item'>EXTINGUISHERS LEVERS (Now show engine fire
                annunciator)</li>
            <li class='list-group-item'>BOTTLE DISCHARGE ANNUNCIATORS</li>
            <li class='list-group-item'>Horizontal stabilizer trim invertion fixed.</li>
            <li class='list-group-item'>Corrected marching ants in belly and engines.
            </li>
            <li class='list-group-item'>Corrected issues with wingflex.</li>
            <li class='list-group-item'>Taxi light position corrected</li>
        {{/timelineEntry}}

    {{/timelineVersion }}

</main>