---
layout: layouts/default.hbs
title: "Home"
---

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark bg-dark-plane text-white">
  <div class="product-device  d-none d-md-block"></div>
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">787: Aviator's edition</h1>
    <p class="lead font-weight-normal">Autopilot. Redesigned.</p>
    <a class="btn btn-secondary" href="https://forums.x-plane.org/index.php?/forums/topic/164922-status-update-magknight-787-aviators-edition/">Read the press release</a>
  </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
<a href="https://forums.x-plane.org/index.php?/forums/forum/420-magknight/" class="text-light">
    <div class="bg-secondary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">The landing gear</h2>
        <p class="lead">Technical support from the support forum</p>
      </div>
    </div>
  </a>
  <a href="https://magknight.org/beta" class="text-light">
    <div class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">

        <h2 class="display-5">Bugs. Reported.</h2>
        <p class="lead">Our bug reporter</p>

      </div>
    </div>
  </a>
  
</div>