---
layout: layouts/default.hbs
title: "Our Team"
---
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark text-light">
	<div class="col-md-5 mx-auto">
		<h1 class="display-4 font-weight-normal">About our team</h1>
		<p class="lead font-weight-normal">The frogs in the forest keeping the bugs at bay</p>
	</div>
</div>

<div class="position-relative overflow-hidden p-2 p-md-2 m-md-3 text-left bg-white text-dark">
	<h2 class="display-5 font-weight-normal">Core team</h2>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">


	<div class="card bg-aeroBlue mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden border-0">

		<img class="card-img-top" src="media/images/aeroniemiDarkBlue.png" alt="aeroniemi logo">
		<div class="card-body">
			<h4 class="card-title">aeroniemi - Alex Beavil</h4>
			<p class="card-text">I was bored, and set out on a trail to find not-boredom. Instead, I now write code for
				aircraft.</p>
		</div>
		<h3>Things I've worked on</h3>
		<ul class="text-left">
			<li>PFDs/MFDs</li>
			<li>Radios</li>
			<li>Website & branding</li>
		</ul>
		<div class="card-body">
			<a href="https://forums.x-plane.org/index.php?/profile/411421-aeroniemi/" class="card-link text-light">
				<h5>Forum Profile</h5>
			</a>
		</div>
	</div>

	<div class="card bg-secondary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden border-0">

		<img class="card-img-top" src="media/images/magknightPink.png" alt="magknight logo">
		<div class="card-body">
			<h4 class="card-title">magknight - Mariano</h4>
			<p class="card-text">I made everything. I now do modelling. People keep taking my jobs.</p>
		</div>
		<h3>Things I've worked on</h3>
		<ul class="text-left">
			<li>Exterior modelling</li>
			<li>Interior modelling</li>
			<li>Everything</li>
		</ul>
		<div class="card-body">
			<a href="https://forums.x-plane.org/index.php?/profile/478620-magknight/" class="card-link text-light">
				<h5>Forum Profile</h5>
			</a>
		</div>
	</div>


	<div class="card bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden border-0">

		<img class="card-img-top" src="media/images/magknightDark.png" alt="magknight logo">
		<div class="card-body">
			<h4 class="card-title">mob9221 - Omar Alam</h4>
			<p class="card-text">I write the FMC, and reluctantly do the things Alex doesn't want to (like the ND)</p>
		</div>
		<h3>Things I've worked on</h3>
		<ul class="text-left">
			<li>CDU/Flight computer</li>
			<li>Electrical systems</li>
			<li>Autopilot</li>
		</ul>
		<div class="card-body">
			<a href="https://forums.x-plane.org/index.php?/profile/316787-mob9221/" class="card-link text-light">
				<h5>Forum Profile</h5>
			</a>
		</div>
	</div>

</div>

<div class="position-relative overflow-hidden p-2 p-md-2 m-md-3 text-left bg-white text-dark">
	<h2 class="display-5 font-weight-normal my-0">External developers</h2>
	<p class="lead font-weight-normal my-0">Other people who have worked on the plane</p>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">


	<div class="card bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-dark overflow-hidden border-0">

		<img class="card-img-top" src="media/images/mattDesigns.png" alt="matt designs logo">
		<div class="card-body">
			<h4 class="card-title">MattDesigns - Matthew Hayward</h4>
			<p class="card-text">I don't do much. But, when I do I like to think it's important</p>
		</div>
		<h3>Things I've worked on</h3>
		<ul class="text-left">
			<li>Flight modelling</li>
			<li>PBR normals</li>
		</ul>
		<div class="card-body">
			<a href="https://forums.x-plane.org/index.php?/profile/515052-matthew007800/" class="card-link text-light">
				<h5>Forum Profile</h5>
			</a>
		</div>
	</div>
	<div class="card bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden border-0"></div>
	<div class="card bg-white mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden border-0"></div>
	{{!--
	<div class="card bg-secondary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden border-0">

		<img class="card-img-top" src="images/magknightPink.png" alt="aeroniemi logo">
		<div class="card-body">
			<h4 class="card-title">audiobirdXP</h4>
			<p class="card-text">Sound</p>
		</div>
		<h3>Things I've worked on</h3>
		<ul class="text-left">
			<li>Sound</li>
		</ul>
		<div class="card-body">
			<a href="#" class="card-link text-light">
				<h5>Forum Profile</h5>
			</a>
		</div>
	</div> --}}


	{{!-- <div class="card bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden border-0">

		<img class="card-img-top" src="images/magknightDark.png" alt="aeroniemi logo">
		<div class="card-body">
			<h4 class="card-title">DrGluck</h4>
			<p class="card-text">VSD/terrain</p>
		</div>
		<h3>Things I've worked on</h3>
		<ul class="text-left">
			<li>Vertical situation display</li>
			<li>Terrain Radar</li>
		</ul>
		<div class="card-body">
			<a href="#" class="card-link text-light">
				<h5>Forum Profile</h5>
			</a>
		</div>
	</div> --}}

</div>


{{!-- <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
	<a href="https://forums.x-plane.org/index.php?/forums/topic/160586-magknight-team-live-qa-cptcanada/" class="text-light">
		<div class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
			<div class="my-3 py-3">

				<h2 class="display-5">Some Questionable answers</h2>
				<p class="lead">Live Q&A: Saturday 27th October at 14:00 EDT, 18:00z</p>

			</div>
			<!-- <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div> -->
		</div>
	</a>
	<a href="https://forums.x-plane.org/index.php?/forums/forum/420-magknight/" class="text-light">
		<div class="bg-secondary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
			<div class="my-3 p-3">
				<h2 class="display-5">The landing gear</h2>
				<p class="lead">Technical support from the support forum</p>
			</div>
			<!-- <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div> -->
		</div>
	</a>
</div> --}}